body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(45deg, #3B004B, #4B0082); /* Darker gradient for body */
}

nav {
    background: linear-gradient(45deg, #4B0082, #800080); /* Gradient from dark violet to dark purple */
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff; /* White text color for better contrast */
}

nav a.active {
    font-weight: bold; /* Highlight active link */
}

section {
    display: none; /* Hide all sections by default */
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

.active-section {
    display: block; /* Show active section */
}

h1, h2 {
    color: #ffffff; /* White text for headings to stand out against the darker background */
}
